@import url(https://fonts.googleapis.com/css?family=Lato:400, 700);

body {
  background: #fff;
  font-family: Lato, sans-serif;
  margin: 0 0 80px;
}
.main {
  padding: 70px 0;
}
a {
  color: #2ecc71;
}
a:focus,
a:hover {
  color: #f1c40f;
  text-decoration: none;
}
/* p {
  line-height: 1.5;
  margin: 0;
} */
/* p + p {
  margin-top: 10px;
} */
h1,
h2,
h3,
h4 {
  margin-top: 0;
}
section {
  margin-top: 30px;
}
li {
  line-height: 1.8;
  list-style: none;
}
li:before {
  content: "\f052";
  float: left;
  font: 13px Octicons;
  margin-top: 6px;
  margin-left: -20px;
  opacity: 0.1;
  position: absolute;
}
blockquote {
  border-left: 5px solid #e7e9ec;
  font-size: 14px;
}
em {
  color: #95a5a6;
  font-weight: normal;
  font-style: normal;
}
h4 span:first-child {
  color: #000;
  font-weight: bold;
}
.container {
  max-width: 750px;
  padding: 0 30px;
}
.col-sm-6 {
  margin-bottom: 10px;
}
.col-sm-12 h4 {
  margin-top: 12px;
}
.col-sm-12 + .col-sm-12 {
  margin-top: 30px;
}
#header {
  background: #f4f6f6;
  padding: 50px 0;
  margin-bottom: 30px;
}
#header h2 {
  color: #95a5a6;
  font-size: 24px;
}
#content h3 {
  color: #f1c40f;
  font-size: 26px;
  margin-top: -4px;
}
#content aside {
  text-align: right;
  padding-right: 30px;
}
#profiles .network {
  text-transform: capitalize;
}
#work .position,
#volunteer .position {
  font-weight: bold;
  margin-bottom: 8px;
}
#education .area {
  font-weight: bold;
}
#education .area:before {
  content: "\f0d7";
  font: 16px Octicons;
  margin-right: 6px;
}
#education .studyType {
  margin-left: 25px;
}
#awards .summary,
#publications .summary {
  margin-top: 8px;
}
#publications .website a:before {
  content: attr(href);
}
.button-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}
@media (min-width: 480px) {
  .strike-through {
    border-top: 1px solid #f4f6f6;
    height: 20px;
    margin-top: 12px;
    margin-bottom: -2px;
    position: relative;
  }
  .strike-through span,
  .strike-through a {
    background: #fff;
    position: absolute;
  }
  .strike-through span:first-child {
    padding-right: 20px;
    margin-top: -12px;
  }
  .strike-through span + span {
    font-size: 14px;
    margin-top: -10px;
    padding-left: 20px;
    right: 0;
  }
}
@media (max-width: 768px) {
  .col-sm-6:last-child {
    margin-bottom: 0px;
  }
  #content aside {
    margin-bottom: 20px;
    padding-right: 0;
    text-align: left;
  }
  #publications .website a:before {
    content: "View publication";
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  .date {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .strike-through span:first-child {
    margin-bottom: 7px;
  }
  .strike-through span {
    display: block;
  }
  #header {
    margin-bottom: 10px;
    padding: 40px 0;
  }
  #actions {
    display: none;
  }
}

.content-box {
  padding: 20px 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.blogs {
  padding: 10px 260px;
  font-size: 32px;
  font-family: cursive;
}

.post {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 11rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}

.post:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
}

.post .post-thumbnail {
  width: 30%;
  max-width: 100%;
  min-height: 11rem;
  background-size: cover;
  background-position: 50% 50%;
}

.post .post-content {
  padding: 1rem;
  width: 70%;
}

.post .post-content .post-date,
.post .post-content .post-words {
  font-size: 12px;
}
.post-words {
  margin-left: 16px;
}

.post .post-content .post-title {
  margin: 0 0 10px;
  font-size: 30px;
  font-weight: 400;
}

.post .post-content .post-title a {
  font-family: "PT Serif", serif;
  text-decoration: none;
  color: #263959;
}

.post .post-content p {
  margin-top: 0;
}
.blog-post-container {
  margin: 5rem;
}

@media only screen and (max-width: 992px) {
  .post {
    width: 48%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;
  }

  .post .post-content,
  .post .post-thumbnail {
    width: 100%;
  }

  .post .post-content .post-title {
    margin: 0 0 5px;
  }

  .post .post-content .post-title a {
    font-size: 21px;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  }

  .sidebar footer {
    margin-bottom: 10px;
  }

  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
  }

  .about img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
  }

  .content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .blogs {
    padding: 10px 10px;
    font-size: 32px;
    font-family: cursive;
  }

  .contact-title,
  .copyright {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .content-box {
    padding: 10px;
  }

  .blogs {
    padding: 10px;
    font-size: 32px;
    font-family: cursive;
  }

  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;
  }

  .post .post-content,
  .post .post-thumbnail {
    width: 100%;
  }

  .post .post-content .post-title {
    margin: 0 0 5px;
  }

  .post .post-content .post-title a {
    font-size: 21px;
  }
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  background: #333333b8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 16px 48px 16px 48px;
}
